{
  "input": {
    "topicName": "good"
    "bootstrapServers": "kafka1:9092,kafka2:9092"
  }

  "output": {
    "good": {
      "topicName": "enriched"
      "bootstrapServers": "kafka1:9092,kafka2:9092"
    }

    "bad": {
      "topicName": "bad"
      "bootstrapServers": "kafka1:9092,kafka2:9092"
    }
  }
}