{
  "input": {
    "topicName": "good"
    "bootstrapServers": "192.168.233.247:9092,192.168.233.247:9093"
  }

  "output": {
    "good": {
      "topicName": "enriched"
      "bootstrapServers": "192.168.233.247:9092,192.168.233.247:9093"
    }

    "bad": {
      "topicName": "bad"
      "bootstrapServers": "192.168.233.247:9092,192.168.233.247:9093"
    }
  }
}
